.booking-container {
  max-width: 834px;
  padding: 36px 40px 52px 40px !important;

  .booking-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 48px;

    .booking-title-warn {
      color: #ee1b0a;
      text-align: center;
      font-family: 'Noto Sans TC';
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
  }

  .booking-content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .booking-group-pass-item {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  .booking-button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 80px auto 0;

    .btn.send-btn.disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        background-color: inherit;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .booking-container {
    max-width: 353px;
    padding: 28px 16px 40px 16px !important;

    &.discount {
      max-width: 385px;
    }

    .booking-content {
      gap: 60px;
    }

    .booking-title {
      gap: 6px;
      margin-bottom: 40px;

      .booking-title-warn {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .booking-button {
      margin: 60px auto 0;
    }
  }
}

@media screen and (max-width: 410px) {
  .booking-container .booking-title .booking-title-warn {
    font-size: 12px;
  }
}