.group-pass-form {
  .group-pass-form-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 16px;
    color: #3c5464;
  }

  .group-pass-form-record-title {
    text-align: center;
    margin-top: 36px;
  }

  .group-pass-form-details {
    border-radius: 12px;
    background-color: #eceef0;
    padding: 12px 20px 12px 20px;
    gap: 12px;
    margin-bottom: 16px;
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .group-pass-form-summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease;
    gap: 4px;

    .title {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }

    .record-title {
      color: #3c5464;
    }
  }

  .icon {
    transition: transform 0.3s ease-in-out;
  }

  .group-pass-form-content {
    display: flex;
    gap: 24px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
    padding: 0 2px;

    &.open {
      margin: 12px 0;
      max-height: 500px;
      opacity: 1;
      transform: translateY(0);
    }
  }

  .group-pass-form-content .group-pass-form-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;

    .form-item {
      position: relative;

      .form-label {
        margin-bottom: 6px;

        label {
          font-size: 14px;
        }
      }

      .form-record-item {
        font-size: 18px;
      }

      .p-l-6 {
        padding-left: 6px;
      }

      .form-record-label {
        color: #a5a9ab;
        padding-left: 0px;
      }

      .form-input {
        width: 100%;
        padding: 12px 16px;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-size: 14px;
        line-height: 20px;
        transition: border-color 0.3s ease;

        &:focus {
          outline: none;
          border-color: #3c5464;
        }

        &.error {
          border-color: #ee1b0a;
        }

        &::placeholder {
          color: #a5a9ab;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .group-pass-form {
    .group-pass-form-title {
      padding-left: 4px;
      color: #000;
    }

    .group-pass-form-record-title {
      margin-top: 24px;
      text-align: left;
      color: #3c5464 !important;
    }

    .group-pass-form-content {
      flex-direction: column;
    }

    .group-pass-form-content .group-pass-form-input {
      .form-item {
        .form-label {
          padding-left: 2px;
        }
      }
    }

    /* 手機版本調整動畫高度 */
    .group-pass-form-content.open {
      max-height: 800px;
    }
  }
}