.header {
  padding: 8px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  position: fixed;
  width: 100%;
  cursor: pointer;
  z-index: 100;

  img {
    max-width: 172px;
    width: 100%;
    height: 44px;
  }

  p {
    color: #000;
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 8px 20px;
  }
}