.bread-crumbs {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #3C5464;
    font-weight: 500;
    padding-top: 72px;
    padding-left: 40px;

    .bread-crumbs-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .bread-crumbs-item {
        display: flex;
        align-items: center;
    }

    .bread-crumbs-link {
        cursor: pointer;
        color: #3C5464;
    }

    .bread-crumbs-current {
        color: #000;
        font-weight: 600;
    }

    .bread-crumbs-separator {
        margin: 0 4px;
        flex-shrink: 0;
    }
}

@media screen and (max-width: 768px) {
    .bread-crumbs {
        padding-left: 20px;
    }
}