h1 {
  text-align: center;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 44px;
}

@for $i from 1 through 9 {
  $weight: $i * 100;

  .font-weight#{$weight} {
    font-weight: #{$weight};
  }
}

@for $i from 1 through 30 {
  .font-size#{$i} {
    font-size: #{$i}px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
}
