// 分隔線樣式
.ticket-divider {
  border: none;
  border-top: 1px solid #e8eaea;
  margin-bottom: 60px;
}

// 加購項目標題樣式
.ticket-section-title {
  color: #000;
  text-align: center;
  font-family: 'Noto Sans TC';
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 24px;
}

.booking-content-item {
  display: flex;
  gap: 16px;

  .booking-content-item-left {
    .edit-ticket-pic {
      width: 180px;
      height: 130px;
      object-fit: cover;
      object-position: 50% 50%;

      &.refund {
        filter: grayscale(100%);
        opacity: 0.6;
      }
    }

    .record-ticket-pic {
      width: 180px;
      height: 130px;
      object-fit: cover;
      object-position: 50% 50%;

      &.refund {
        filter: grayscale(100%);
        opacity: 0.6;
      }
    }
  }

  .booking-content-item-right {
    display: flex;
    gap: 20px;
    flex: 2;
    justify-content: space-between;

    .ticket-info {
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 370px;
      width: 100%;

      .ticket-info-title-container {
        .ticket-info-title {
          display: flex;
          align-items: center;
          gap: 20px;

          .ticket-info-title-name {
            display: flex;
            gap: 16px;
          }

          .sold-out-alert {
            display: flex;
            gap: 4px;
            align-items: center;
            color: #ee1b0a;
            font-size: 14px;
            white-space: nowrap;
          }
        }

        span {
          font-weight: 600;
          line-height: 24px;
        }

        .edit-title {
          color: #000;
        }

        .record-title {
          color: #24323c;
        }

        .sold-out-title {
          color: #a5a9ab !important;
        }
      }

      .ticket-info-list {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .ticket-info-remark {
          color: #ee1b0a;
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 6px;
        }

        .ticket-info-content {
          color: var(--midnight-blue-500, #3c5464);
          font-size: 14px;
          line-height: 20px;
          display: flex;
          gap: 2px;

          svg {
            flex-shrink: 0;
          }
        }

        .sold-out-title {
          color: #a5a9ab !important;
        }

        .sold-out-content {
          color: #c5ccd1 !important;
        }
      }
    }

    .ticket-quantity {
      color: #000;
      align-self: center;
      font-weight: 600;

      .sold-out-alert {
        display: none;
      }

      .sold-out-alert-mobile {
        display: none;
      }
    }
  }
}

.ticket-info-list-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .ticket-section-title {
    margin-bottom: 28px;
  }

  .booking-content-item {
    gap: 12px;

    .booking-content-item-left {
      .edit-ticket-pic {
        width: 108px;
        height: 108px;

        &.refund {
          filter: grayscale(100%);
          opacity: 0.6;
        }
      }

      .record-ticket-pic {
        width: 108px;
        height: 108px;

        &.refund {
          filter: grayscale(100%);
          opacity: 0.6;
        }
      }
    }

    .booking-content-item-right {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .ticket-info {
        display: block;

        .ticket-info-title-container {
          .ticket-info-title {
            flex-direction: column;
            gap: 4px;
            align-items: flex-start;

            .ticket-info-title-name {
              flex-direction: column;
              gap: 4px;
            }

            .sold-out-alert {
              display: none !important;
            }
          }
        }

        .ticket-info-list {
          display: none;
        }
      }

      .ticket-quantity {
        align-self: flex-start;
        .ticket-quantity-content {
          display: flex;
          gap: 12px;

          .sold-out-alert-mobile {
            display: flex;
            gap: 4px;
            align-items: center;
            color: #ee1b0a;
            font-size: 14px;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .ticket-info-list-mobile {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 8px;

    .ticket-info-remark {
      color: #ee1b0a;
      font-size: 12px;
      font-weight: 600;
    }

    .ticket-info-content {
      color: var(--midnight-blue-500, #3c5464);
      font-size: 14px;
      line-height: 20px;
      display: flex;
      gap: 2px;

      svg {
        flex-shrink: 0;
      }
    }

    .sold-out-title {
      color: #a5a9ab !important;
    }

    .sold-out-content {
      color: #c5ccd1 !important;
    }
  }
}
