.success-error-container {
  padding: 28px 32px 40px 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 426px;
  background-color: #fff;
  border-radius: 12px;

  .success-error-content-container {
    margin: 0 auto;
    .success-error-icon {
      width: 100px;
      height: 100px;
      display: block;
      margin: 0 auto;
    }

    .success-error-title {
      color: #000;
      font-size: 30px;
      font-weight: 600;
      line-height: 44px;
      text-align: center;
      margin-bottom: 10px;
    }

    .success-error-content {
      color: #000;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .success-error-btn-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .success-error-list {
    padding-left: 0;
    li {
      position: relative;
      padding-left: 20px; /* 給實心圓留空間 */
    }

    li::before {
      content: '●';
      color: black;
      font-size: 8px;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
}
@media screen and (max-width: 768px) {
  .success-error-container {
    padding: 28px 20px 40px 20px;
    max-width: 353px;
    .success-error-title {
      font-size: 28px;
    }
  }
}
