.footer-content {
  background: #1d292e;
  padding: 24px 60px 36px 60px;
  display: flex;
  gap: 28px;
  flex-direction: column;

  .footer-logo {
    max-width: 172px;
    width: 100%;
  }

  .contact-info {
    display: flex;
    gap: 80px;
    color: white;

    .contact-method {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-size: 14px;

      div {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }
  }
}

.footer-info {
  padding: 16px 60px;
  background: #3c5464;
  color: #c5ccd1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;

  div {
    display: flex;
    gap: 28px;
  }
}

@media screen and (max-width: 768px) {
  .footer-content {
    padding: 16px 28px 36px 28px;

    .contact-info {
      flex-direction: column;
      gap: 24px;
    }
  }

  .footer-info {
    padding: 10px 16px;

    .footer-links {
      gap: 10px;

      p {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .footer-content {
    .contact-info {
      flex-direction: column;
      gap: 24px;
    }
  }

  .footer-info {
    padding: 10px 16px;
    flex-wrap: wrap;
  }
}