#apple-pay-button-container div {
  min-height: 30px;
  border: 1px solid black;
  background-image: url('../../../assets/images/apple-pay-icon.webp') !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  background-position: 50% 50%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  transition: background-color 0.15s;
  appearance: none !important;
}

.pay-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  background-position: 50% 50%;
  border-radius: 5px;
  width: 100%;
  height: 44.5px;
}

.apple-pay-button {
  background-image: url('../../../assets/images/apple-pay-icon.webp');
}

.google-pay-button {
  background-image: url('../../../assets/images/google-pay-icon.webp');
}

.samsung-pay-button {
  background-size: 55% !important;
  background-image: url('../../../assets/images/samsung-pay-icon.png');
}
